# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans Database: Colllection of data in organised manner.

SQL: (Structured Query Language)

1. Based on RDBMS.
2. Tabular form of data
3. edefined schema
4. vertically scalable
5. NoSQL: (Not only SQL)

NoSQL: (Not only SQL)

1. Non-relational DB
2. key value pair (json) form of data
3. no predefined schema
4. horizontally scalabl

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


#### DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and constraints.

1. CREATE: Used to create a new database object. For example, "CREATE TABLE" creates a new table in the database.
2. DROP: Used to delete an existing database object. For example, "DROP TABLE" deletes a table from the database.
3. ALTER: Used to modify the structure of an existing database object. For example, "ALTER TABLE" is used to add or remove columns from a table.
4. TRUNCATE: Used to delete all the data in a table while keeping its structure intact. For example, "TRUNCATE TABLE" removes all rows from a table, but the table itself remains

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Ans DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data within a database

1. INSERT: Used to insert new records into a table. For example:
##### INSERT INTO customers (name, email) VALUES ('John Doe', 'john@example.com');

2. UPDATE: Used to modify existing records in a table. For example:
##### UPDATE customers SET email = 'newemail@example.com' WHERE id = 1;

3. DELETE: Used to remove records from a table. For example:
##### DELETE FROM customers WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.

#### Ans DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. The most commonly used DQL command is SELECT, which retrieves data from one or more tables based on specified conditions.
SELECT * FROM customers WHERE age > 30;


# Q5. Explain Primary Key and Foreign Key.

#### Ans
1. Primary Key: Unique identifier for each row in a table.
2. foreign key is used to connect two tables or maintain the relationship between them.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish the connection
cnx = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = cnx.cursor()

# Execute SQL queries (SQL commands)
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

# Q7. Give the order of execution of SQL clauses in an SQL query.

#### Ans
1. FROM: Specifies the table(s) from which the data will be retrieved.
2. WHERE: Filters the rows based on specified conditions.
3. GROUP BY: Groups the rows based on specified columns.
4. HAVING: Filters the grouped rows based on specified conditions.
5. SELECT: Specifies the columns to be included in the result set.
6. ORDER BY: Sorts the result set based on specified columns.
7. LIMIT/OFFSET: Restricts the number of rows returned or specifies the starting point for the result set.